body{
	margin:0px;
	padding:0px;
	background-color:gray;
}
div{
	position:relative;
	float:left;
}

#container{
	width:80%;
	height:100%;
	border: 1px solid blue;
	margin-left:10%;
	background-color:honeydew;
	border-radius:8px;
}
#fruit_list{
	width:100%;
}
#tbl_fruit{
	/* width:100%; */
	width:60%;
	line-height:28px;
	margin-top:120px;
	margin-left:20%;

}
#tbl_fruit, #tbl_fruit tr,#tbl_fruit td,#tbl_fruit th{
	border:1px gray solid;
	border-collapse:collapse;
	text-align:center;
	font-size:16px;
	font-weight:lighter;
	color: threeddarkshadow;
}
.delImg{
	width: 24px;
	height:24px;
}
.btn{
}
#add_table, #add_table tr,#add_table td,#add_table th{
	border:1px solid gray;
	border:1px solid lightgray;
	width:80px;
	height:24px;
}
#add_table{
	/*width:%;*/
	line-height: 28px;
	float:left;
	border-collapse: collapse;

}
.center{
	text-align: center;
}
.f30{
	font-size: 30px;
}


